{% assign _url = page.url | split: "/" %}
{% assign current = _url[-1] | split: "." %}
<section id="header-nav">
  <header>
    <nav>
      <ul>
        {% case current[0] %}
        <!-- home -->
        {% when none %}
        <li class="current">Home</li>
        <a href="{{ '/assets/pdfs/CV.pdf' | relative_url }}" target="_blank" rel="noopener noreferrer">
          <li class="btn-nav">CV</li>
        </a>
        <a href="{{ '/publications' | relative_url }}">
          <li class="btn-nav">Publications</li>
        </a>
        {% when 'publications' %}
        <a href="{{ '/'' | relative_url }}">
          <li class="btn-nav">Home</li>
        </a>
        <a href="{{ '/assets/pdfs/CV.pdf' | relative_url }}" target="_blank" rel="noopener noreferrer">
          <li class="btn-nav">CV</li>
        </a>
        <li class="current">Publications</li>        
        {% endcase %}
      </ul>
    </nav>
  </header>
</section>
