 #teaching {
    @extend %page-padding;
    .bg{
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 105px;
        left:0%;
        height: 95px;
        background-color: $theme-dark;
    }
    h1.title{
        color:#fff;
        margin-bottom: 30px;
    }

    .active, .course:hover {
        color: $theme-dark;
    }   

/*    .active::after {
        content: "\2212";
    }*/

    .content {
        margin-left: 30pt;
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }
    
    ul.course-list {
        margin-left: 3%;
        list-style-type: none;
        list-style-position: inside;
        cursor: pointer; 
        li.course {
          margin: 8px auto;
          padding-left: 5px;
          font-size: 15pt;
          font-weight: 600;
        }
        li.course::before {
          content: "•";
          font-size: 200%;
          color: $theme-color;
          padding-right: 5px;
          vertical-align: text-top;
        }
    }

    
    
    p.title {
      margin-top: 15px;
      color: $theme-dark;
      font-size: 25px;
      font-weight: 600;
    }
    
    span.term {
       margin-left: 30pt;
    }
}
