---
layout: page
---
<div id="teaching">
  <section class="bg"></section>
  <h1 class="title">{{ page.title }}</h1>
     <br/>
    
    {% for college in site.data.profile.courses_taught %}
        <p class="title"> {{ college.college_name }} </p>
        <ul class="course-list">
        {% for course in college.courses %}
            <li class="course"> {{ course.course_name }}</li>
            {% if course.description %}
                <div class="content">
                    <p> <b> Course Description:</b> {{ course.description }}</p>
                </div>
            {% else %}
                   <span class="term"> {{offering.term}} </span>
                {% endif %}
            {% for offering in course.offerings %}
                {% if offering.url %}
                   <span class="term"> <a  href="{{ offering.url }}" class="btn btn-sm z-depth-0" role="button"> {{offering.term}}</a></span>
                {% else %}
                   <span class="term"> {{offering.term}} </span>
                {% endif %}
            {% endfor %}
            
        {% endfor %}
        </ul>
    {% endfor %}

<script>
    var coll = document.getElementsByClassName("course");
    var i;

    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
        content.style.maxHeight = null;
        } else {
        content.style.maxHeight = content.scrollHeight + "px";
        } 
    });
    }
</script>
